.formsubmit {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.submission {
  width: 40%;
  margin-top: 4rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
